<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- 应用程序标识 -->
    <add key="AppID" value="DatistCloud" />

    <!-- 程序所在路径，主要用于在系统通过脚本启动时找不准相对位置的情况下定位程序路径 -->
	  <!-- <add key="HostingEnvironment.ContentRootPath" value=".\WG3000.Modbus.TcpServer" />
	  <add key="HostingEnvironment.WebRootPath" value=".\wwwroot" />-->

	  <add key="HostingEnvironment.ContentRootPath" value="/home/publish" />
	  <add key="HostingEnvironment.WebRootPath" value="/home/publish/wwwroot" />

    <!-- 调试模式可以看到Metadat页面 -->
    <add key="Modbus.ServerPort" value="502" />

    <!-- 调试模式可以看到Metadat页面 -->
	  <!-- <add key="Modbus.SerialPort" value="COM3" /> -->
	  <add key="Modbus.SerialPort" value="ttyAMA0" />
	  
    <!-- 服务器侦听地址和端口 -->
    <add key="WebAPI.WebHostUrl.Http" value="http://0.0.0.0:80/" />

  </appSettings>
</configuration>
